
*{
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}
/*header*/

header{

    


.titular {
    background-color: rgb(3, 3, 3);
    position: sticky;
    top: 0px;
    height: 195px;
}

.redirecciones {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 2%;
    border: 10px;

}
.redireccion {
    list-style-type: none;
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.973);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    
}


header img {
    width: 105px;
    
}

.titulo { 
 
    background-image: url(https://i.pinimg.com/736x/2a/f4/e7/2af4e73248862fefcfc8dd83874c70eb.jpg);
    text-shadow: -2px 4px 4px rgba(0,0,0,0.6);
    height: 500px;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;

    
}

.clases{
    display: flex;
    flex-direction: row;
}
.cuadro{
    background-color: rgba(163, 163, 163, 0.815);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    justify-content: center;
    width: 505px;             /* Ancho deseado para la caja */
    border: 1px solid #007bff;/* Borde para visualizar la caja */
    padding: 40px;  
     

  
    

}
}

/*body*/
body{

    
    background-color: rgba(129, 130, 133, 0.932);

 

h1 {
    text-align: center;
   }

h2 {
    text-align: center;
}
.logoos{
    display: flex;
    flex-direction: row;
}
.logos-marcas{
     display: flex;
    flex-direction: column;
    height: 80px;
    margin: auto;
    padding: 5px;
    border: 1px ;
    align-items : center;
    justify-content: center;
.logo-marca{
    height: 60px;
}   
}
}
/*footer*/
footer{
    
  p{ color: rgb(255, 255, 255);}
  p{text-align: end;}
    background-color: rgb(2, 2, 2);
    .copy{
        background-color: rgb(167, 22, 22);
    }

}

@media(max-width:480px){
    .redirecciones{
        display: flex;
        margin-bottom: 100%;
        padding: 1%;
        margin-right: 1px;
    } 
    .logoos{
        display: flex;
        flex-direction: column;
        
     }
    .mapa{
    
    width: 300px;
   }
    .titular{
        width: 100%;
    }
    header img {

        height: 90px;
    }

header{
    width: 100%;
    
}

    body{
        display: flex;
        flex-direction: column;
        width: 100%;
    } 
    .redirecciones{
        width: 100%;
    
    }
    .background-image{
        width: 100%;
       
    }
footer{
    width: 100%;
}
}

