
.footer-marcas{
    padding-top: 0%;
    margin-top: 0%;
}
.titulo-marcas{
    background-image: url(../media/ADSADASDAS.jpg);
    text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.6);
    height: 400px;
    width: 100%;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0%;
    margin-bottom: 0%;
}
.subtitulo-marcas{
    background-color: black;
    color: white;
    padding-top: 15%;
    padding-bottom: 10%;
    text-align: center;
    margin-bottom: 0%;
}
.redireccion:hover{
    color: rgb(155, 27, 27);
}